ATMClient/Connected Services/ServiceReference1/WcfServerIIS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KMA.MOOP.ATM.DBModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KMA.MOOP.ATM.DBModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62079/WcfServerIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" type="tns:AccountType" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Balance" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="MaxBalance" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="MinBalance" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityAccountGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SurplusesAccountGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:simpleType name="AccountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CalculatedAccount" />
      <xs:enumeration value="CreditAccount" />
      <xs:enumeration value="BonusAccount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountType" nillable="true" type="tns:AccountType" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationCode" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
</xs:schema>