AdminClient/Connected Services/ServiceReference1/WcfServerIIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfServerIIS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62079/WcfServerIIS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62079/WcfServerIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62079/WcfServerIIS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KMA.MOOP.ATM.DBModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IATMSimulator_LoginAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccount" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_LoginAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_AddMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMoney" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_AddMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_WithdrawMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawMoney" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_WithdrawMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_CashSurplusProcessing_InputMessage">
    <wsdl:part name="parameters" element="tns:CashSurplusProcessing" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_CashSurplusProcessing_OutputMessage">
    <wsdl:part name="parameters" element="tns:CashSurplusProcessingResponse" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_LimitExceedingProtection_InputMessage">
    <wsdl:part name="parameters" element="tns:LimitExceedingProtection" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_LimitExceedingProtection_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimitExceedingProtectionResponse" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_AddTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransaction" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_AddTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_BlockAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockAccount" />
  </wsdl:message>
  <wsdl:message name="IATMSimulator_BlockAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_UnblockAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UnblockAccount" />
  </wsdl:message>
  <wsdl:message name="IBankAdministratorSimulator_UnblockAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnblockAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IATMSimulator">
    <wsdl:operation name="LoginAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMSimulator/LoginAccount" message="tns:IATMSimulator_LoginAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMSimulator/LoginAccountResponse" message="tns:IATMSimulator_LoginAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMSimulator/AddMoney" message="tns:IATMSimulator_AddMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMSimulator/AddMoneyResponse" message="tns:IATMSimulator_AddMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WithdrawMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMSimulator/WithdrawMoney" message="tns:IATMSimulator_WithdrawMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMSimulator/WithdrawMoneyResponse" message="tns:IATMSimulator_WithdrawMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CashSurplusProcessing">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMSimulator/CashSurplusProcessing" message="tns:IATMSimulator_CashSurplusProcessing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMSimulator/CashSurplusProcessingResponse" message="tns:IATMSimulator_CashSurplusProcessing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimitExceedingProtection">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMSimulator/LimitExceedingProtection" message="tns:IATMSimulator_LimitExceedingProtection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMSimulator/LimitExceedingProtectionResponse" message="tns:IATMSimulator_LimitExceedingProtection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMSimulator/AddTransaction" message="tns:IATMSimulator_AddTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMSimulator/AddTransactionResponse" message="tns:IATMSimulator_AddTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlockAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMSimulator/BlockAccount" message="tns:IATMSimulator_BlockAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMSimulator/BlockAccountResponse" message="tns:IATMSimulator_BlockAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBankAdministratorSimulator">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/RegisterClient" message="tns:IBankAdministratorSimulator_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/RegisterClientResponse" message="tns:IBankAdministratorSimulator_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/GetClient" message="tns:IBankAdministratorSimulator_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/GetClientResponse" message="tns:IBankAdministratorSimulator_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/AddAccount" message="tns:IBankAdministratorSimulator_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/AddAccountResponse" message="tns:IBankAdministratorSimulator_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnblockAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/UnblockAccount" message="tns:IBankAdministratorSimulator_UnblockAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAdministratorSimulator/UnblockAccountResponse" message="tns:IBankAdministratorSimulator_UnblockAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IATMSimulator" type="tns:IATMSimulator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAccount">
      <soap:operation soapAction="http://tempuri.org/IATMSimulator/LoginAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMoney">
      <soap:operation soapAction="http://tempuri.org/IATMSimulator/AddMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawMoney">
      <soap:operation soapAction="http://tempuri.org/IATMSimulator/WithdrawMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashSurplusProcessing">
      <soap:operation soapAction="http://tempuri.org/IATMSimulator/CashSurplusProcessing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimitExceedingProtection">
      <soap:operation soapAction="http://tempuri.org/IATMSimulator/LimitExceedingProtection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <soap:operation soapAction="http://tempuri.org/IATMSimulator/AddTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlockAccount">
      <soap:operation soapAction="http://tempuri.org/IATMSimulator/BlockAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBankAdministratorSimulator" type="tns:IBankAdministratorSimulator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterClient">
      <soap:operation soapAction="http://tempuri.org/IBankAdministratorSimulator/RegisterClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IBankAdministratorSimulator/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IBankAdministratorSimulator/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnblockAccount">
      <soap:operation soapAction="http://tempuri.org/IBankAdministratorSimulator/UnblockAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfServerIIS">
    <wsdl:port name="BasicHttpBinding_IATMSimulator" binding="tns:BasicHttpBinding_IATMSimulator">
      <soap:address location="http://localhost:62079/WcfServerIIS.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBankAdministratorSimulator" binding="tns:BasicHttpBinding_IBankAdministratorSimulator">
      <soap:address location="http://localhost:62079/WcfServerIIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>